* {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    transition-duration: 200ms;
}

body {
    overflow-x: hidden;
    background-color: hsl(233, 26%, 24%);
}

/*================ Navbar ================*/

.container {
    margin: 0 8%;
}

nav {
    height: 70px;
    position: fixed;
    width: 100%;
    background: hsl(0, 0%, 100%);
    z-index: 2;
}

nav .container {
    display: flex;
    align-items: center;
    height: 100%
}

.nav-menu {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 40px;
    height: 100%;
}

.nav-menu li {
    padding: 18px 0;
    border-bottom: 5px solid transparent;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #bebdc3;
    font-weight: 400;
    font-size: 16px;    
}

.nav-menu li:hover {
    border-bottom: 5px solid hsl(136, 65%, 51%);
}

.nav-menu li:hover a {
    color: black;
}

.invite-btn {
    background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));  
    border: none;
    width: 170px;
    padding-top: 15px; 
    padding-bottom: 15px; 
    border-radius: 25px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.invite-btn::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, hsl(136, 94%, 66%), hsl(192, 90%, 61%)); 
    z-index: -1;
    transition: opacity 150ms linear;
    opacity: 0;
    border-radius: 25px;
}
  
.invite-btn:hover::before {
    opacity: 1;
}

.hamburger {
    display: none;
}

/*================ Hero Section ================*/

header {
    background: url('./images/bg-intro-desktop.svg') no-repeat;
    background-position: 600px;
    height: 600px;
    background-size: 1000px;
    background-color: hsl(0, 0%, 98%);
}

header .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.hero-text {
    margin-top: 200px;
    width: 50%;
    margin-right: auto;
}

.hero-text h1 {
    font-weight: 400;
    font-size: 4.5vw;
    padding-bottom: 30px;
    color: hsl(233, 26%, 24%);
}

.subtitle {
    color: hsl(231, 21%, 48%);
    line-height: 30px;
    width: 90%;
}

.hero-text .invite-btn{
    margin-top: 40px;
}

.hero-image {
    max-height: 819px;
    margin-top: -50px;
    position: absolute;
    right: -110px;
}

/*================ Features Section ================*/

.features-section {
    background-color: hsl(220, 16%, 96%);
    height: 700px;
}

.features-section .container  {
    padding-top: 100px;
}

.features-section .container h2 {
    font-weight: 300;
    font-size: 40px;
    padding-bottom: 30px;
    color: hsl(233, 26%, 24%);
}

.feature-sub {
    width: 750px;
}

.features {
    display: flex;
    gap: 50px;
    margin-top: 80px;
}

.feature-element {
    width: 400px;
}

.feature-element img{
    margin-bottom: 40px;
}

.feature-element h3{
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 20px;
}

.feature-element p {
    font-size: 16px;
}

/*================ Articles Section ================*/

.latest-articles {
    background-color: hsl(0, 0%, 98%);
    padding-top: 80px;
    height: 620px;
}

.latest-articles h2 {
    color: hsl(233, 26%, 24%);
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 60px;
} 

.card-components {
    display: flex;
    gap: 20px;
}

.card {
    height: 430px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transform: scale(1.05);
}

.card-image {
    height: 175px;
}

.card-image img{
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.card-text {
    padding: 30px 14px;
    background-color: white;
    min-height: 100%;
}

.card-text span {
    color: #bebdc3;
    font-size: 15px;
}

.card-text h3 {
    font-size: 18px;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;
    color: hsl(233, 26%, 24%);
}

.card-text .subtitle {
    font-size: 15px;
    color: #8b8b8b;
    line-height: 20px;
} 

/*================ Footer Section ================*/

footer {
    background: hsl(233, 26%, 24%);
    height: 150px;
    padding-top: 50px;
}

footer .container {
    display: flex;
}

.branding {
    text-align: center;
    width: 20%;
    margin-right: 100px;
}

.branding a img {
    margin-bottom: 60px;
}

.social-logos {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.menu {
    display: flex;
    gap: 80px;
}

ul {
    list-style: none;
}

.menu ul li {
    padding-bottom: 20px;
}

.menu ul li a:hover {
    padding-bottom: 20px;
    color: black; 
}

.copywright-div {
    text-align: right;
    margin-left: auto;
}

.copywright-div .copyright {
    padding-top: 40px;
    color: #8b8b8b;
}

.invisible {
    display: none;
}

.bg-color {
    background: hsl(220, 16%, 96%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 600px) {
    * {
        text-align: center;
    }

    .container {
        margin: 0 6%;
    }

    .nav {
        position:fixed;
    }

    .hamburger {
        display: block;
        margin-left: auto;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
    }

    nav .container ul, nav .container .invite-btn {
        display: none;
    }

    .dropdown-menu {
        position: fixed;
        top: 70px;
        background: hsl(220, 16%, 96%);
        height: 430px;
        padding-top: 30px;
        z-index: 5;
        width: 90%;
        left: 5%;
    }

    .dropdown-menu .nav-menu {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .nav-menu li a {
        color: hsl(233, 26%, 24%);
        font-weight: 700;
    }

    .nav-menu li:last-child:hover {
        border: transparent;
    }

    header {
        background-size: 700px;
        background-position: -30px -200px;
        height: 870px;
    }
     
    header .container {   
        padding-top: 100px;   
        display: block;
    }

    .hero-image {
        height: 100vw;
        top: -1%;
        right: 10%;
    }

    .hero-text {
        margin-top: 15px;
        width: 100%;
    }

    .hero-text h1 {
        margin-top: 400px;
        font-size: 40px;
    }

    .features-section {
        height: 1750px;
        width: 100%;
    }

    .features-section .container h2 {
        font-size: 45px;
    }

    .feature-sub {
        width: 100%;
        font-size: 30px;
    }

    .features {
        display: block;
    }

    .feature-element {
        width: 100%;
    }

    .feature-element h3{
        font-size: 29px;
    }

    .feature-element .subtitle{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .latest-articles {
        height: 2350px;
    }

    .card {
        margin-bottom: 50px;
        height: 500px;
    }

    .card-image {
        height: 250px;
    }

    .card-components {
        display: block;
    }

    .feature-element p {
        font-size: 18px;
    }

    .card:hover {
        transform: scale(1.02);
    }

    .card-text{
        padding: 30px 38px;
        text-align: left;
    }

    .card-text h3, .card-text p {
        text-align: left;
    }

    .card-text h3 {
        font-size: 23px;
    }

    .card-text p {
        font-size: 18px;
    }

    footer {
        height: 600px;
    }

    footer .branding a{
        justify-content: center;
    }

    footer .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .branding {
        width: 100%;
        margin-left: auto;
    }

    footer .menu {
        flex-direction: column;
        justify-content: center;
        gap: 1px;
    }

    .menu ul li a {
        color: white;

    }

    .menu ul li a:hover {
        color: rgb(189, 183, 183);
    }

    .copywright-div {
        text-align: center;
        margin-top: 30px;
        margin-left: 0;
    }
}

@media (max-width: 400px) {
    header {
        height: 741px;
    }

    .hero-image {
        height: 110vw;
        top: -5%;
        align-items: center;
        left: 5%;
        right: 0;
    }

    .hero-text h1 {
        margin-top: 250px;
        font-size: 35px;
    }

    .hero-text .subtitle {
        margin-right: auto;
        margin-left: auto;
    }

    .features-section {
        height: 1750px;
    }

    .features-section .container h2 {
        font-size: 40px;
    }

    .features-section .container .subtitle {
        margin-left: auto;
        margin-right: auto;
    }

    .latest-articles {
        height: 2322px;
    }

    .card {
        height: 500px;
    }

    .card-image {
        height: 230px;
    }
}
